/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Footer Menu
3.0 - Content
  3.1 - Site Structure
  3.2 - Columns
4.0 - Media
5.0 - Utility
  5.1 - Background Colors
  5.2 - Alignments
  5.3 - Breakpoints
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

/*-- 1.1 - Headings --*/

/*-- 1.2 - Body Copy --*/

/*-- 1.3 - Buttons --*/

/*-- 1.4 - Forms --*/


/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/*-- 2.1 - Main Menu --*/

/*-- 2.2 - Footer Menu --*/

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*-- 3.1 - Site Structure --*/

/*-- 13.2 - Columns --*/

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */


/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*-- 5.1 - Background Colors --*/

/*-- 5.2 - Alignments --*/

/*-- 5.3 - Breakpoints --*/






html * {
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family:'Futura', Sans-Serif;
  font-size: 10pt;
}














/* This applies from 600px onwards */
@media (min-width: 600px) {
  body {
    
  }
}

@media (min-width: 800px) {
  body {
    
  }
}

@media (min-width: 1200px) {
  body {
    
  }
}
