/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Footer Menu
3.0 - Content
  3.1 - Site Structure
  3.2 - Columns
4.0 - Media
5.0 - Utility
  5.1 - Background Colors
  5.2 - Alignments
  5.3 - Breakpoints
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

body {
  font-family:'freighttext pro', Sans-Serif;
  font-size: 10pt;
  color: #5E6868;
}

html * {
  padding: 0;
  margin: 0;
}








/*-- 1.1 - Headings --*/
h1, h2, .button-i {

  text-transform: uppercase;
}

h1, h2, .button-i {
  font-family:'freightdisp pro', Serif;
  letter-spacing: 0.125rem;
}

h2, .button-i {
  color: #91AEAE;

}

h1 {
  display: none;
  font-weight: 300;
}

h1, .mobile-nav li, .main-nav li {
  letter-spacing: 0.125rem;
}

.mobile-nav li:first-child {
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  padding: 10px 0;
  font-weight: 300;
  text-overflow: 1;
}

.featured-wine h2 {
  width: 85%;
  min-width: 20%;
  padding-left: 15px;
}

.featured-wine .header-rule {
  width: 70%;
}

.header-box {
  display: flex;
  align-items: center;
}

h2, .header-rule {
  justify-content: space-between;
}

.menu-main h2 {
  text-align: center;
}

.header-rule {
    height: 1px;
    width: 100%;
    background-color: #91AEAE;
}

/*-- 1.2 - Body Copy --*/

p {
  font-family:'freightsans pro', Sans-Serif;
  font-weight: 100;
}

ul {
  list-style-type: none;
}

.price p {
    font-size: 1.5rem;
    color: #91AEAE;
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: .2rem;
}

/*-- 1.3 - Buttons --*/


a {
  color: #91AEAE;
  text-decoration: none;
}

.mobile-nav-btn {
  color: #E4E4E4;
}

.main-nav li {
  padding: 0 7px;
}

.button-i {
  padding: 10px 20px;
  margin: 25px 0;
  border: 1px solid #91AEAE;
  display: inline-block;
  font-weight: bold;
  transition: .5s ease;

}

.button-i:hover {
  background-color: #f2f5f5;
  color: #5E6868;
  border-color: #5E6868;
}

.menu button {
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: transparent;
    color: #5E6868;
    letter-spacing: .25rem;
    padding: 7px 10px;
}

#sub-menu button {
    font-size: .85rem;
    font-weight: 300;
    letter-spacing: .125rem;
}

.menu-main button:hover, .menu-main button:active {
  border-bottom: 1px solid black;
}

.menu-name {
  padding-top: 10px;
}


/*-- 1.4 - Forms --*/

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}


/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/*-- 2.1 - Main Menu --*/
.landing {
  height: 500px;
  position: relative;
  min-height: 500px;
  overflow-x: hidden;
  width: 100vw;
  background: url('../img/hero.jpg') no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
}

.main-nav {
  display: none;
}

.mobile-nav {
  display: flex;
}

.mobile-nav {
  position: absolute;
  right: -220px;
  top: 0;
  bottom: 0;
  width: 220px;
  transition: right .75s ease;
}

.show {
  right: 0;
}

.mobile-nav-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 1.8rem;
}

.mobile-nav ul {
  text-align: center;
  width: 100%;
}

.mobile-nav li {
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.mobile-nav li:first-of-type {
  background-color: #f2f5f5;
  color: #5E6868;
}

/*-- 2.2 - Footer Menu --*/



/*-- 2.3 - Food Menu --*/

 #sub-menu div, #dinner-content div, #drinks-content div {
  display: none;
} 

#sub-menu.drinks .drinks,
#sub-menu.dinner .dinner,
#dinner-content.appetizers .appetizers,
#dinner-content.veg-specials .veg-specials,
#dinner-content.main-courses .main-courses,
#dinner-content.desserts .desserts,
#dinner-content.kids-menu .kids-menu,
#drinks-content.old-world .old-world,
#drinks-content.new-world .new-world,
#drinks-content.beer .beer {
    display: block;
    animation: fade-in .75s;
  animation-direction: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appetizers {
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
}

.menu-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu-name {
  align-self: flex-start;
  width: 83.33%;
}

.descrip {
  width: 83.33%;
  font-family: "freightsans pro", sans-serif;
}

.price {
  width: 16.66%;
  font-family: "freightsans pro", sans-serif;

}

.menu-main span {
  font-size: .75rem;
}


.menu-item, .menu-name, .descrip, .price {
  display: flex !important;
}

.menu-main {
  margin-top: 50px;
  margin-bottom: 30px;
}

#dinner-content, #drinks-content {
  margin-top: 50px;
}




/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*-- 3.1 - Site Structure --*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 25px;
  margin-bottom: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 93%;
  max-width: 1140px;
}

.about, .menu {
  margin-top: 40px;

}

.menu-featured header, .menu-featured .text-box {
    width: 100%;
    margin: 0 auto;
}

.featured-wine .text-box {
  width: 55%;
  padding-left: 15px;
  float: right;
}

.menu-featured {
  overflow: auto;
}

/*-- 13.2 - Columns --*/

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}

.col-1-5 {
    width: 20%;
}

.col-2-5 {
    width: 40%;
}

.col-3-5 {
    width: 60%;
}

.col-4-5{
    width: 80%;
}

.col-1-6 {
    width: 16.66%;
}

.col-5-6 {
    width: 83.33%;
}

[class*='col-']:last-of-type {
    padding-right: 0px;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
.hero-img img {
 width: 100%;

}

.main-logo {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 200px;
  height: 200px;
  transform: rotate(-15deg);
  mix-blend-mode: hard-light;
}

.about-img, .menu-img {
  background-color: lightgray;
  width: 100%;
  height: 400px;
}

.main-logo:hover {
  animation-name: wobble;
  animation-duration: 2s;
}
/* Gallery */
.gallery-2 {
  width: 100%;
  margin: 0 auto;
}

.gallery {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.header-rule {
  margin-bottom: 30px;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*-- 5.1 - Background Colors --*/

/*-- 5.2 - Alignments --*/

/*-- 5.3 - Breakpoints --*/








*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family:'freighttext pro', Sans-Serif;
  font-size: 10pt;
}

@keyframes wobble {
  from{transform:rotate(-15deg);}
  to{transform:rotate(10deg)}
}












/* This applies from 600px onwards */
@media (min-width: 600px) {


  body {

  }
  .wrapper {
    width: 90%;
  }


 
}

@media (min-width: 800px) {

  h1 {
    display: inline;
  }

  header {
    justify-content: space-between;
  }

  .landing > header {
      padding: 15px 50px;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav {
    display: block;
  }

  .mobile-nav, .mobile-nav-btn {
    display: none;
  }

  .wrapper {
    width: 85%;
  }

  .landing {
    height: 100vh;
  }

  .about, .menu {
    margin-top: 100px;

  }

  .about, .menu-featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }

  .about .text-box {
    width: 66%;
    padding-right: 20px;
  }

  .about .text-box p {
    width: 70%;
  }

  .about .text-box h2 {
    width: 35%;
  }

  .about-img, .menu-img {
    width: 33%;
  }

  .featured-wine {
    width: 66%;
    padding-left: 20px;
  }

  .featured-wine .header-rule {
    width: 80%;
  }

  .featured-wine .text-box {
    padding-left: 37px;
  }
  .gallery {
    width: 75%;
  }


}

@media (min-width: 1200px) {
  .wrapper {
    width: 75%;
  }

}
